{
  "extends": ["wesbos"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": "off",
    "no-nested-ternary": "off",
    "no-shadow": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "props"
      }
    ]
  }
}
